export API_KEY="MY API KEY"

# valid values are: internal-dev, internal-qa, int and prod
export API_ENVIRONMENT=internal-dev

# these are used for exporting the postman collections in order to sync
# them with the repository
export INTEGRATION_COLLECTION_API_KEY=xxx
export SANDBOX_COLLECTION_API_KEY=xxx

# this is required for running the static analysis steps
export SONAR_TOKEN=xxx