openapi: 3.0.0
info:
  version: '1.0'
  title: Communications Manager API
  description:  |
    ## Overview
    TBC

    ## Who can use this API
    TBC

    ## Related APIs
    TBC

    ## API status and roadmap
    TBC

    ## Service Level 
    The Communications Manager API is currently not in an integration or production environment.

    ## Technology 
    This API is a [REST-based](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) API.
    
    We follow the [JSON:API](https://jsonapi.org/) standard for our request and response schemas. 

    ## Network access
    TBC

    ## Security and authorisation 
    TBC

    ## Environments and testing 
    TBC

    ## Onboarding
    TBC
    
  contact:
    name: Communications Manager Service API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/comms'
    description: Sandbox environment
paths:
  /v1/message-batches:
    post:
      summary: Create message batch
      description: |-
        ## Overview

        Use this endpoint to send a batch of messages to 1 or more NHS patients.
      operationId: create-message-batch
      parameters:
        - name: Authorization
          in: header
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
            Required in all environments except sandbox.
          schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - name: X-Correlation-ID
          in: header
          description: |-
            An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
      requestBody:
        description: ''
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateMessageBatch'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageBatch'
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/MessageBatchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBatchResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '400':
          description: Unprocessable Entity
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnableToProcessResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/UnableToProcessResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RoutingPlanNotFoundError'
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingPlanNotFoundError'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAcceptable'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RequestTimeoutResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeoutResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          headers:
            Retry-After:
              schema:
                type: integer
                format: duration
                minimum: 5
                multipleOf: 1
                example: 5
              description: Time to wait between requests in seconds
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '503':
          description: Service Unavailable
          headers:
            Retry-After:
              schema:
                type: integer
                minimum: 5
                multipleOf: 1
                example: 5
              description: Time to wait between requests in seconds
        '504':
          description: Gateway Timeout
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ServiceTimeoutResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTimeoutResponse'
          headers:
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
      security: []
      servers:
        - url: 'https://sandbox.api.service.nhs.uk/comms'
          description: Sandbox environment
        - url: 'https://int.api.service.nhs.uk/comms'
          description: Integration test environment
        - url: 'https://api.service.nhs.uk/comms'
          description: Production environment
components:
  schemas:
    CreateMessageBatch:
      type: object
      title: Create message batch
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/Enum_Type_MessageBatch'
            attributes:
              type: object
              properties:
                routingPlanId:
                  type: string
                  description: |-
                    This is the routing plan you wish your batch to use whilst sending messages to the recipients. The values available to you for this are setup during your onboarding process.

                    If you send through an invalid routing plan you will receive a 404 response.
                  format: uuid
                  example: 2fd7f5c4-802e-4092-bd3d-276bb199df62
                messageBatchReference:
                  type: string
                  description: |-
                    This is a client-supplied unique reference for this batch of messages.

                    This value is used internally to de-duplicate batches. If you send the same value through multiple times only one of the requests will be actioned.
                  format: uuid
                  example: da0b1495-c7cb-468c-9d81-07dee089d728
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
              required:
                - routingPlanId
                - messageBatchReference
                - messages
          required:
            - type
            - attributes
      required:
        - data
    Enum_Type_MessageBatch:
      enum:
        - MessageBatch
      title: Type_MessageBatch
    Message:
      type: object
      title: Message
      properties:
        messageReference:
          type: string
          description: This reference needs to be unique per message within this batch. If there are duplicate values then a 400 exception will be thrown highlighting the values that have been duplicated.
          format: uuid
          example: 703b8008-545d-4a04-bb90-1f2946ce1575
        recipient:
          $ref: '#/components/schemas/Recipient'
        personalisation:
          type: object
      required:
        - messageReference
        - recipient
    Recipient:
      type: object
      title: Recipient
      properties:
        nhsNumber:
          type: string
          pattern: '^\d{10}$'
          minLength: 10
          maxLength: 10
          example: '1234567890'
        dateOfBirth:
          type: string
          description: 'Date of birth in ISO-8601 format: YYYY-MM-DD.'
          format: date
          example: '1982-03-17'
      required:
        - nhsNumber
        - dateOfBirth
    MessageBatchResponse:
      type: object
      title: Message batch response
      additionalProperties: false
      properties:
        data:
          type: object
          additionalProperties: false
          properties:
            type:
              $ref: '#/components/schemas/Enum_Type_MessageBatch'
            id:
              $ref: '#/components/schemas/Type_KSUID'
            attributes:
              type: object
              additionalProperties: false
              properties:
                messageBatchReference:
                  type: string
                  description: This is a client-supplied unique reference for this batch of messages.
                  format: uuid
                  example: da0b1495-c7cb-468c-9d81-07dee089d728
    Type_KSUID:
      type: string
      title: Type_KSUID
      pattern: '^[a-zA-Z0-9]{27}$'
      minLength: 27
      maxLength: 27
      example: 0ujsszwN8NRY24YaXiTIE2VWDTS
    UnableToProcessResponse:
      type: object
      title: Request not processable
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_InvalidValue'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '400'
                example: '400'
              title:
                enum:
                  - Missing property
                  - Property cannot be null
                  - Invalid value
                  - Duplicate value
                  - Too few items
                example: Missing property
              detail:
                enum:
                  - 'The property at the specified location is required, but was not present in the request.'
                  - 'The property at the specified location is required, but a null value was passed in the request.'
                  - The property at the specified location does not allow this value.
                  - 'The property at the specified location is a duplicate, duplicated values are not allowed.'
                  - The property at the specified location contains too few items.
                example: 'The property at the specified location is required, but was not present in the request.'
              source:
                type: object
                additionalProperties: false
                properties:
                  pointer:
                    enum:
                      - /data/type
                      - /data/attributes
                      - /data/attributes/messageBatchReference
                      - /data/attributes/routingPlanId
                      - /data/attributes/messages
                      - /data/attributes/messages/0/recipient/nhsNumber
                      - /data/attributes/messages/0/recipient/dateOfBirth
                      - /data/attributes/messages/0/messageReference
                    example: /data/attributes/routingPlanId
    Enum_Error_InvalidValue:
      enum:
        - CM_INVALID_VALUE
      title: Enum_Error_InvalidValue
    AccessDeniedResponse:
      type: object
      title: Access Denied
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_AccessDenied'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '401'
                example: '401'
              title:
                enum:
                  - Access denied
                example: Access denied
              detail:
                enum:
                  - 'Access token missing, invalid or expired, or calling application not configured for this operation.'
                example: 'Access token missing, invalid or expired, or calling application not configured for this operation.'
              source:
                type: object
                additionalProperties: false
                properties:
                  header:
                    enum:
                      - Authorization
                    example: Authorization
    Enum_Error_AccessDenied:
      enum:
        - CM_DENIED
      title: Enum_Error_AccessDenied
    ForbiddenResponse:
      type: object
      title: Forbidden
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Forbidden'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '403'
                example: '403'
              title:
                enum:
                  - Forbidden
                example: Forbidden
              detail:
                enum:
                  - Client not recognised or not yet onboarded.
                example: Client not recognised or not yet onboarded.
              source:
                type: object
                additionalProperties: false
                properties:
                  header:
                    enum:
                      - Authorization
                    example: Authorization
    Enum_Error_Forbidden:
      enum:
        - CM_FORBIDDEN
      title: Enum_Error_Forbidden
    RoutingPlanNotFoundError:
      type: object
      title: No such routing plan
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_NoSuchRoutingPlan'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '404'
                example: '404'
              title:
                enum:
                  - No such routing plan
                example: No such routing plan
              detail:
                enum:
                  - The routing plan specified either does not exist or is not in a usable state.
                example: The routing plan specified either does not exist or is not in a usable state.
              source:
                type: object
                properties:
                  pointer:
                    enum:
                      - /data/attributes/routingPlan
                    example: /data/attributes/routingPlan
    Enum_Error_NoSuchRoutingPlan:
      enum:
        - CM_NO_SUCH_ROUTING_PLAN
      title: Enum_Error_NoSuchRoutingPlan
    NotAcceptable:
      type: object
      title: Not Acceptable
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_NotAcceptable'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '406'
                example: '406'
              title:
                enum:
                  - Not acceptable
                example: Not acceptable
              detail:
                enum:
                  - This service can only generate application/vnd.api+json or application/json.
                example: This service can only generate application/vnd.api+json or application/json.
              source:
                type: object
                additionalProperties: false
                properties:
                  header:
                    enum:
                      - Accept
                    example: Accept
    Enum_Error_NotAcceptable:
      enum:
        - CM_NOT_ACCEPTABLE
      title: Enum_Error_NotAcceptable
      example: CM_NOT_ACCEPTABLE
    RequestTimeoutResponse:
      type: object
      title: Request timeout
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Timeout'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '408'
                example: '408'
              title:
                enum:
                  - Request timeout
                example: Request timeout
              detail:
                enum:
                  - The service was unable to receive your request within the timeout period.
                example: The service was unable to receive your request within the timeout period.
    Enum_Error_Timeout:
      enum:
        - CM_TIMEOUT
      title: Enum_Error_Timeout
    UnsupportedMediaResponse:
      type: object
      title: Unsupported Media
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_UnsupportedMedia'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '415'
                example: '415'
              title:
                enum:
                  - Unsupported media
                example: Unsupported media
              detail:
                enum:
                  - 'Invalid content-type, this API only supports application/vnd.api+json or application/json.'
                example: 'Invalid content-type, this API only supports application/vnd.api+json or application/json.'
              source:
                type: object
                additionalProperties: false
                properties:
                  header:
                    enum:
                      - Content-Type
                    example: Content-Type
    Enum_Error_UnsupportedMedia:
      enum:
        - CM_UNSUPPORTED_MEDIA
      title: Enum_Error_UnsupportedMedia
    TooManyRequestsResponse:
      type: object
      title: Too many requests
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Quota'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '429'
                example: '429'
              title:
                enum:
                  - Too many requests
                example: Too many requests
              detail:
                enum:
                  - You have made too many requests. Re-send the request after the time (in seconds) specified `Retry-After` header.
                example: You have made too many requests. Re-send the request after the time (in seconds) specified `Retry-After` header.
    Enum_Error_Quota:
      type: string
      title: Enum_Error_Quota
      enum:
        - CM_QUOTA
    ServiceTimeoutResponse:
      type: object
      title: Service timeout
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Timeout'
              links:
                type: object
                additionalProperties: false
                properties:
                  about:
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                minProperties: 1
              status:
                enum:
                  - '504'
                example: '504'
              title:
                enum:
                  - Unable to call service
                example: Unable to call service
              detail:
                enum:
                  - The downstream service has not responded within the configured timeout period.
                example: The downstream service has not responded within the configured timeout period.
