# This is an OpenAPI Specification (https://swagger.io/specification/)
# for communications-manager owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.1.0
x-stoplight:
  id: lk5n6pnuqlqlm
info:
  title: Communications Manager API
  version: '1.0'
  description: Todo
  contact:
    name: Communications Manager Service API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/communications-manager'
    description: Sandbox environment
  - url: 'https://int.api.service.nhs.uk/communications-manager'
    description: Integration test environment
  - url: 'https://api.service.nhs.uk/communications-manager'
    description: Production environment
paths:
  /api/v1/communications:
    post:
      summary: Create communication
      operationId: create-communication
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                example: 'https://api.service.nhs.uk/communications-manager/api/v1/communications/1234'
              description: URI of created communication
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CommunicationResponse'
        '400':
          description: Unprocessable Entity
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnableToProcessResponse'
        '401':
          description: Unauthorized
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
        '403':
          description: Forbidden
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RoutingPlanNotFoundError'
        '408':
          description: Request Timeout
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ServiceTimeoutResponse'
        '413':
          description: Request Entity Too Large
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RequestEntityTooLargeResponse'
        '414':
          description: Request-URI Too Long
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/URLTooLongResponse'
        '415':
          description: Unsupported Media Type
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaResponse'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          headers:
            Retry-After:
              schema:
                type: integer
                format: duration
                example: 5
                minimum: 5
                multipleOf: 1
              description: Time to wait between requests in seconds
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
        '431':
          description: Request Header Fields Too Large
          headers:
            X-Request-ID:
              schema:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
              description: 'The X-Request-ID from the request header, if supplied, mirrored back.'
            X-Correlation-ID:
              schema:
                type: string
                pattern: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
              description: 'The X-Correlation-ID from the request header, if supplied, mirrored back.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HeadersTooLargeResponse'
        '503':
          description: Service Unavailable
          headers:
            Retry-After:
              schema:
                type: integer
                minimum: 5
                multipleOf: 1
                example: 5
              description: Time to wait between requests in seconds
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCommunication'
        description: ''
      security: []
      parameters:
        - schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
          in: header
          name: Authorization
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).  
            Required in all environments except sandbox.
        - schema:
            type: string
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
          in: header
          name: X-Request-ID
          description: |-
            A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.
            Must be a universally unique identifier (UUID) (ideally version 4).
            Mirrored back in a response header.
            If you re-send a failed request, use the same value in this header.
        - schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
          in: header
          name: X-Correlation-ID
          description: |-
            An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
      description: |-
        ## Overview

        Use this endpoint to send communications to 1 or more NHS patients.
components:
  schemas:
    CreateCommunication:
      title: Create Communication
      x-stoplight:
        id: esqpjx5z69tmz
      type: object
      properties:
        data:
          type: object
          x-stoplight:
            id: cocxd8qkzk6u9
          required:
            - type
            - attributes
          properties:
            type:
              $ref: '#/components/schemas/Enum_Type_Communication'
              x-stoplight:
                id: x3bs9r8mfos5c
            attributes:
              type: object
              x-stoplight:
                id: 6vnii3oxaw5fj
              required:
                - routingPlan
                - reference
                - recipients
              properties:
                routingPlan:
                  type: string
                  x-stoplight:
                    id: 0xtdrgihg03wj
                  example: plan1234
                reference:
                  type: string
                  x-stoplight:
                    id: p0ckkuxc31s7h
                  example: internalCommunicationReference-1234
                recipients:
                  type: array
                  x-stoplight:
                    id: fj9qbldr7ogxt
                  minItems: 1
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/Recipient'
                    x-stoplight:
                      id: w15y3sbe7cqdf
      required:
        - data
    Recipient:
      title: Recipient
      x-stoplight:
        id: jvm4ob3da5mnw
      type: object
      properties:
        reference:
          type: string
          x-stoplight:
            id: ao4dsajz5x4js
          example: internalIndividualCommunicationReference-2345
        nhsNumber:
          type: string
          x-stoplight:
            id: qe64v6iw9k81a
          minLength: 10
          maxLength: 10
          pattern: '^\d{10}$'
          example: '1234567890'
        dateOfBirth:
          type: string
          x-stoplight:
            id: ycavr8nttnain
          format: date
        personalisation:
          type: object
          x-stoplight:
            id: s99hz10kq4nu0
      required:
        - reference
        - nhsNumber
        - dateOfBirth
    CommunicationResponse:
      title: Communication Response
      x-stoplight:
        id: n9k49kkvsw7oy
      type: object
      additionalProperties: false
      properties:
        data:
          type: object
          x-stoplight:
            id: n4figpt19jspl
          additionalProperties: false
          properties:
            type:
              $ref: '#/components/schemas/Enum_Type_Communication'
              x-stoplight:
                id: ueqz90283u8pp
            id:
              $ref: '#/components/schemas/Type_KSUID'
              x-stoplight:
                id: 3ocwvv3oui72b
            attributes:
              type: object
              x-stoplight:
                id: ilj5lyra4p587
              additionalProperties: false
            links:
              type: object
              x-stoplight:
                id: jwj1k843888ye
              additionalProperties: false
              properties:
                self:
                  type: string
                  x-stoplight:
                    id: p9wi8zsu9xcgn
                  format: uri
                  example: 'https://api.service.nhs.uk/communications-manager/api/v1/communications/0ujsszwN8NRY24YaXiTIE2VWDTS'
    AccessDeniedResponse:
      title: Access Denied
      x-stoplight:
        id: flqloou9hn4wz
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_AccessDenied'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '401'
                enum:
                  - '401'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Access denied
                enum:
                  - Access denied
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: 'Access token missing, invalid or expired, or calling application not configured for this operation.'
                enum:
                  - 'Access token missing, invalid or expired, or calling application not configured for this operation.'
              source:
                type: object
                x-stoplight:
                  id: f1o9z45h4z5wb
                additionalProperties: false
                properties:
                  header:
                    type: string
                    x-stoplight:
                      id: 2a1j4oiedqoen
                    example: Authorization
                    enum:
                      - Authorization
    ForbiddenResponse:
      title: Forbidden
      x-stoplight:
        id: ghylfg8ju52u5
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Forbidden'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '403'
                enum:
                  - '403'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Forbidden
                enum:
                  - Forbidden
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: Client not recognised or not yet onboarded.
                enum:
                  - Client not recognised or not yet onboarded.
              source:
                type: object
                x-stoplight:
                  id: f1o9z45h4z5wb
                additionalProperties: false
                properties:
                  header:
                    type: string
                    x-stoplight:
                      id: 2a1j4oiedqoen
                    example: Authorization
                    enum:
                      - Authorization
    UnsupportedMediaResponse:
      title: Unsupported Media
      x-stoplight:
        id: jbpwkxynsxdq5
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_UnsupportedMedia'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '415'
                enum:
                  - '415'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Unsupported media
                enum:
                  - Unsupported media
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: 'Invalid content-type, this API only supports application/vnd.api+json'
                enum:
                  - 'Invalid content-type, this API only supports application/vnd.api+json'
              source:
                type: object
                x-stoplight:
                  id: f1o9z45h4z5wb
                additionalProperties: false
                properties:
                  header:
                    type: string
                    x-stoplight:
                      id: 2a1j4oiedqoen
                    example: Content-Type
                    enum:
                      - Content-Type
    UnableToProcessResponse:
      title: Request not processable
      x-stoplight:
        id: 6yxuzbblb13um
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_InvalidValue'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '400'
                enum:
                  - '400'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Missing property
                enum:
                  - Missing property
                  - Property cannot be null
                  - Invalid value
                  - Duplicate value
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: 'The property at the specified location is required, but was not present in the request.'
                enum:
                  - 'The property at the specified location is required, but was not present in the request.'
                  - 'The property at the specified location is required, but a null value was passed in the request.'
                  - The property at the specified location does not allow this value.
                  - 'The property at the specified location is a duplicate, duplicated values are not allowed.'
              source:
                type: object
                x-stoplight:
                  id: f1o9z45h4z5wb
                additionalProperties: false
                properties:
                  pointer:
                    type: string
                    x-stoplight:
                      id: 2a1j4oiedqoen
                    example: /data/attributes/routingPlan
                    enum:
                      - /data/attributes/routingPlan
                      - /data/attributes/reference
                      - /data/attributes/recipients
                      - /data/attributes/recipients/0/reference
                      - /data/attributes/recipients/0/nhsNumber
                      - /data/attributes/recipients/0/dateOfBirth
    RequestEntityTooLargeResponse:
      title: Request Too Large
      x-stoplight:
        id: abur7jp300cfp
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_TooLarge'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '413'
                enum:
                  - '413'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Request too large
                enum:
                  - Request too large
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: Your request was too large as it contained too many recipients. Please reduce the size of your request body. The maximum request body size supported is 10mb.
                enum:
                  - Your request was too large as it contained too many recipients. Please reduce the size of your request body. The maximum request body size supported is 10mb.
              source:
                type: object
                x-stoplight:
                  id: f1o9z45h4z5wb
                additionalProperties: false
                properties:
                  pointer:
                    type: string
                    x-stoplight:
                      id: 2a1j4oiedqoen
                    example: /data/attributes/recipients
                    enum:
                      - /data/attributes/recipients
    ServiceTimeoutResponse:
      title: Service timeout
      x-stoplight:
        id: 26z5bwnx7b9ni
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Timeout'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '408'
                enum:
                  - '408'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Unable to call service
                enum:
                  - Unable to call service
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: The downstream service has not responded within the configured timeout period.
                enum:
                  - The downstream service has not responded within the configured timeout period.
    TooManyRequestsResponse:
      title: Too many requests
      x-stoplight:
        id: zf0c4814p6plf
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_Quota'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '429'
                enum:
                  - '429'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Too many requests
                enum:
                  - Too many requests
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: You have made too many requests. Re-send the request after the time (in seconds) specified `Retry-After` header.
                enum:
                  - You have made too many requests. Re-send the request after the time (in seconds) specified `Retry-After` header.
    URLTooLongResponse:
      title: URL too long
      x-stoplight:
        id: pu4owgk663dtr
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_URLTooLong'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '414'
                enum:
                  - '414'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: URL too long
                enum:
                  - URL too long
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: The URL you have requested is too long. URLs sent to this service need to be 8192 characters or less in length.
                enum:
                  - The URL you have requested is too long. URLs sent to this service need to be 8192 characters or less in length.
    HeadersTooLargeResponse:
      title: Headers too large
      x-stoplight:
        id: twehugnatwctr
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_HeadersTooLarge'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '431'
                enum:
                  - '431'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: Headers too large
                enum:
                  - Headers too large
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: The headers sent with this request are too large. Headers must total no more than 10240 bytes.
                enum:
                  - The headers sent with this request are too large. Headers must total no more than 10240 bytes.
    RoutingPlanNotFoundError:
      title: No such routing plan
      x-stoplight:
        id: cb4hwdf8n8lj8
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          x-stoplight:
            id: r02ffzs3cp95i
          minItems: 1
          uniqueItems: true
          maxItems: 1
          items:
            x-stoplight:
              id: s4m3p1u3pfqsw
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Enum_Error_NoSuchRoutingPlan'
                x-stoplight:
                  id: f9fxyhbzc4f11
              links:
                type: object
                x-stoplight:
                  id: 0wkls370de8zv
                additionalProperties: false
                minProperties: 1
                properties:
                  about:
                    type: string
                    x-stoplight:
                      id: 5hta0cuio5dt7
                    format: uri
                    example: 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
                    enum:
                      - 'https://digital.nhs.uk/developer/api-catalogue/communications-manager'
              status:
                type: string
                x-stoplight:
                  id: u4v9c04z6df2o
                example: '404'
                enum:
                  - '404'
              title:
                type: string
                x-stoplight:
                  id: yvfe8l2miqidh
                example: No such routing plan
                enum:
                  - No such routing plan
              detail:
                type: string
                x-stoplight:
                  id: chrdiqn1jurd4
                example: The routing plan specified either does not exist or is not in a usable state.
                enum:
                  - The routing plan specified either does not exist or is not in a usable state.
              source:
                type: object
                x-stoplight:
                  id: okjypub2pxjsg
                properties:
                  pointer:
                    type: string
                    x-stoplight:
                      id: db091rtu61c4s
                    enum:
                      - /data/attributes/routingPlan
                    example: /data/attributes/routingPlan
    Enum_Type_Communication:
      title: Type_Communication
      x-stoplight:
        id: th3zdlcuy8qc3
      type: string
      enum:
        - communication
    Type_KSUID:
      title: Type_KSUID
      x-stoplight:
        id: wwtdeptpamjos
      type: string
      example: 0ujsszwN8NRY24YaXiTIE2VWDTS
      pattern: '^[a-zA-Z0-9]{27}$'
      minLength: 27
      maxLength: 27
    Enum_Error_AccessDenied:
      title: Enum_Error_AccessDenied
      x-stoplight:
        id: qn6wwxf3gpiv8
      type: string
      enum:
        - CM_DENIED
    Enum_Error_Forbidden:
      title: Enum_Error_Forbidden
      x-stoplight:
        id: lulc5fgdfs5ev
      type: string
      enum:
        - CM_FORBIDDEN
    Enum_Error_UnsupportedMedia:
      title: Enum_Error_UnsupportedMedia
      x-stoplight:
        id: nzfd89oexlf0l
      type: string
      enum:
        - CM_UNSUPPORTED_MEDIA
    Enum_Error_InvalidValue:
      title: Enum_Error_InvalidValue
      x-stoplight:
        id: 9enx0tkz0bcub
      type: string
      enum:
        - CM_INVALID_VALUE
    Enum_Error_TooLarge:
      title: Enum_Error_TooLarge
      x-stoplight:
        id: 619gqqiidhvsc
      type: string
      enum:
        - CM_TOO_LARGE
    Enum_Error_Timeout:
      title: Enum_Error_Timeout
      x-stoplight:
        id: ew5bveka31zyp
      type: string
      enum:
        - CM_TIMEOUT
    Enum_Error_Quota:
      title: Enum_Error_Quota
      x-stoplight:
        id: znct1hl5i3knc
      type: string
    Enum_Error_URLTooLong:
      title: Enum_Error_URLTooLong
      x-stoplight:
        id: hg14r0hhz5am9
      type: string
      enum:
        - CM_URL_TOO_LONG
    Enum_Error_HeadersTooLarge:
      title: Enum_Error_HeadersTooLarge
      x-stoplight:
        id: kgdy3vkv92q4a
      type: string
      enum:
        - CM_HEADERS_TOO_LARGE
    Enum_Error_NoSuchRoutingPlan:
      title: Enum_Error_NoSuchRoutingPlan
      x-stoplight:
        id: xpqws95js9ne4
      type: string
      enum:
        - CM_NO_SUCH_ROUTING_PLAN
  securitySchemes: {}
