<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <policy>API</policy>
    <scanner>
        <level>OFF</level>
        <strength>MEDIUM</strength>
    </scanner>
    <plugins>
        <p0>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p0>
        <p2>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p2>
        <p3>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p3>
        <p6>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p6>
        <p7>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p7>
        <p42>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p42>
		<p10010>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10010>
		<p10011>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10011>
		<p10012>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10012>
		<p10015>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10015>
		<p10016>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10016>
		<p10017>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10017>
		<p10019>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10019>
		<p10020>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10020>
		<p10021>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10021>
		<p10023>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10023>
		<p10024>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10024>
		<p10025>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10025>
		<p10026>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10026>
		<p10027>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10027>
		<p10032>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10032>
		<p10040>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10040>
		<p10045>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10045>
		<p10048>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10048>
		<p10095>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10095>
		<p10105>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10105>
		<p10202>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p10202>
		<p20012>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20012>
		<p20014>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20014>
		<p20015>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20015>
		<p20016>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20016>
		<p20017>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20017>
		<p20018>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20018>
		<p20019>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p20019>
		<p30001>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p30001>
		<p30002>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p30002>
		<p30003>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p30003>
		<p40003>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40003>
		<p40008>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40008>
		<p40009>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40009>
		<p40012>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40012>
		<p40013>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40013>
		<p40014>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40014>
		<p40016>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40016>
		<p40017>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40017>
		<p40018>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40018>
		<p40019>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40019>
		<p40020>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40020>
		<p40021>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40021>
		<p40022>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40022>
		<p40023>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p40023>
		<p50000>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p50000>
		<p50001>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p50001>
		<p90001>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90001>
		<p90011>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90011>
		<p90019>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90019>
		<p90020>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90020>
		<p90021>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90021>
		<p90022>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90022>
		<p90023>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90023>
		<p90024>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90024>
		<p90025>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90025>
		<p90026>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90026>
		<p90028>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90028>
		<p90029>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90029>
		<p90030>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90030>
		<p90033>
            <enabled>true</enabled>
            <level>MEDIUM</level>
        </p90033>
        <p10004>
            <enabled>true</enabled>
            <level>INFO</level>
        </p10004>
    </plugins>
</configuration>
